nav {
    background-color: silver;
}

.quem-somos {
    background-color: rgb(180, 153, 245);
}

.margin {
    padding-top: 40px;
    padding-bottom: 30px;
}

.parceiros {
    background-color: rgb(230, 138, 76);
}

.servicos {
    background-color: rgb(157, 217, 245);
}

h3 {
    padding-bottom: 30px;
}

.bg-footer {
    background-color: black;
    color: blanchedalmond;
}